@font-face {
    font-family: 'Fairy Strange';
    src: url('assets/fonts/Fairy Strange.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('assets/fonts/Clash Display/ClashDisplay-Extralight.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('assets/fonts/Clash Display/ClashDisplay-Light.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('assets/fonts/Clash Display/ClashDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('assets/fonts/Clash Display/ClashDisplay-Medium.woff2') format('woff2');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('assets/fonts/Clash Display/ClashDisplay-Semibold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Display';
    src: url('assets/fonts/Clash Display/ClashDisplay-Bold.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}

body {
    background-color: #FFFFFF;
    font-family: 'LemonMilk', sans-serif;
    transition: all 900ms ease-in-out;
}

.dark {
    background-color: #020925;
}

.brand {
    color: #000000;
    font-family: 'Fairy Strange';
    font-size: 16px;
    text-decoration: none;
}