* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Inter", serif;
    transition: 0.3s;
}

.dark {
    background-color: #27304B;
}

.navbar {
    display: flex;
    padding: 5px 10px;
}

.logo {
    color: #000000;
    font-family: "Ingrid Darling", serif;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
}

.dark .logo {
    color: #FFFFFF;
    text-decoration: none;
}

.menu-link {
    background-color: black;
    border-radius: 20px;
    color: white;
    font-family: "Inter", serif;
    font-size: 14px;
    margin: 0px 1px;
    padding: 10px 20px;
    text-decoration: none;
}

.dark .menu-link {
    background-color: white;
    color: #27304B;
}

.switch {
    display: none;
}



.toggle-wrapper {
    background: #fff;
    background: linear-gradient(to bottom, rgba(185, 147, 212, 1) 0%, rgba(230, 224, 237, 1) 65%);
    border-radius: 120px;
    cursor: pointer;
    height: 35px;
    overflow: hidden;
    position: relative;
    width: 78.75px;
}

.toggle-wrapper:before {
    background: linear-gradient(180deg, rgba(231, 95, 122, 1) 0%, rgba(255, 177, 104, 1) 83%);
    border-radius: 120px;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: 1s;
    width: 100%;
}

#switch:checked+*:before {
    opacity: 1;
}

.hills {
    bottom: -150px;
    display: flex;
    left: -40px;
    position: relative;
    width: 720px;
}

.hill-left {
    background: #5c6090;
    border-radius: 100%;
    height: 120px;
    left: -10px;
    position: relative;
    top: -6px;
    transform: rotate(8deg);
    width: 380px;
    z-index: 2;
}

.hill-right {
    background: #4b4f85;
    border-radius: 100%;
    height: 150px;
    left: -80px;
    position: relative;
    width: 340px;
    z-index: 1;
}

.tree-left {
    bottom: -40px;
    left: 100px;
    position: absolute;
    z-index: 5;
}

.tree-left .trunk {
    background: #3b3853;
    border-radius: 100% 100% 0 0;
    height: 200px;
    width: 16px;
    z-index: 3;
}

.branch {
    background: #3b3853;
    position: relative;
}

.branch:nth-child(1) {
    height: 70px;
    left: -10px;
    top: 46px;
    width: 10px;
}