body {
    background-color: #FFFFFF;
    font-family: "Inter", serif;
    transition: all 950ms ease-in-out;
}

.dark {
    background-color: #01131F;
    transition: all 950ms ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    color: #000000;
    font-family: "Ingrid Darling", serif;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
}

.dark .logo {
    color: #FFFFFF;
}

.menu-link {
    background-color: black;
    border-radius: 20px;
    color: white;
    font-family: "Inter", serif;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
}

.slider {
    background: linear-gradient(180deg, #FFF5D9 0%, #FFCE4B 100%);
    border-radius: 30px;
    height: 40px;
    transition: all 950ms ease-in-out;
    width: 90px;
}

.dark .slider {
    background: linear-gradient(180deg, #092A40 0%, #382F4D);
    transition: all 950ms ease-in-out;
}